body{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto; */
    gap: 10px;
}
@media screen and (width<576px){
    body{
        grid-template-columns: auto;
    }
}
.container{
    width: 100%;
    height: auto;
    background-color:bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.section{
    display: flex;
    gap: 20px;
}
